ion-card-title{
    color: beige;
}

ion-card-title p {
    text-align: justify;
    
}

ion-card-header {
    background-color: #62b38a;
    
}

ion-card-header p {
    color: #F8F8FF;
    margin-top: 10px;
    padding-top: 10px;
}