<ion-header>
  <ion-toolbar>
    <ion-title>Música</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title>{{artist.name}}</ion-card-title>


    <ion-card-content>
      <ion-card-subtitle>
        <ion-card-subtitle>Letra </ion-card-subtitle>
         
          <ion-card-title>{{musica.name}}</ion-card-title>
           <ion-card-content>
              <ion-item>
                  <ion-label>Letras</ion-label>
                  <ion-select placeholder="Select One" [(ngModel)]="original" (ionChange)="carregarDetalhes()">
                    <ion-select-option value="true">Original</ion-select-option>
                    <ion-select-option value="false">Traduzida</ion-select-option>
                  </ion-select>
                </ion-item>
              
              <p *ngIf="original; else traduzido">{{musica.text}}</p>
              <ng-template #traduzido>
               
              </ng-template>
            </ion-card-content>
            <ion-card-content>
                
              </ion-card-content>

      </ion-card-subtitle>
     
    </ion-card-content>
  </ion-card-header>


</ion-content>