<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="class">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Atualizar" refreshingSpinner="circles"
      refreshingTet="Atualizando...">
    </ion-refresher-content>
  
  </ion-refresher>
  <ion-searchbar color="success" [(ngModel)]="music_name" (change)="buscarPorNome()" showCancelButton cancelButtonText="Custom Cancel"
    animated placeholder="Pesquisar..."></ion-searchbar>
    <ion-card class="welcome-card" *ngFor="let hot of musicas.docs" routerLink="/home/{{hot.id}}">
      <ion-card-title>{{hot.band}}</ion-card-title>
      <ion-card-subtitle>{{hot.title}}</ion-card-subtitle>
      

    </ion-card>
  <ion-card class="welcome-card" *ngFor="let hot of hotSpot" routerLink="/home/{{hot.musicID}}">
    <ion-card-title>{{hot.title}}</ion-card-title>
    <ion-card-subtitle>Postado em: {{hot.date_fmt}}</ion-card-subtitle>
    <ion-img src="{{hot.pic_src}}"></ion-img>

    <ion-card-content>
      <p>{{hot.descr}}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>