<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Atualizar" refreshingSpinner="circles"
      refreshingTet="Atualizando...">
    </ion-refresher-content>
  
  </ion-refresher>
  <ion-searchbar [(ngModel)]="music_name" (change)="buscarPorNome()" showCancelButton cancelButtonText="Custom Cancel"
    animated placeholder="Pesquisar..."></ion-searchbar>
    <ion-card class="welcome-card" *ngFor="let hot of musicas.docs" routerLink="/home/{{hot.id}}">
      <ion-card-title>{{hot.band}}</ion-card-title>
      <ion-card-subtitle>{{hot.title}}</ion-card-subtitle>
      
  
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
  <ion-card class="welcome-card" *ngFor="let hot of hotSpot" routerLink="/home/{{hot.musicID}}">
    <ion-card-title>{{hot.title}}</ion-card-title>
    <ion-card-subtitle>Postado em: {{hot.date_fmt}}</ion-card-subtitle>
    <ion-img src="{{hot.pic_src}}"></ion-img>

    <ion-card-content>
      <p>{{hot.descr}}</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ranking Geral</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Ranking Nacional</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Ranking Internacional</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>